.landingWallpaper {
  position: absolute;
  height: 837px;
  /* background-color: purple; */
  width: 100%;
  overflow: hidden;

  /* Background */
  .Background {
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    .darken {
      opacity: 0.5;
    }
  }
  /*  */

  /* LandingForeground */
  .Foreground {
    position: absolute;
    height: 100%;
    width: 100%;
    /* top: 405px; */
    /* width: 100vw; */
    text-align-last: center;
    font-size: 50px;
    color: white;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    .home {
      top: 387px;
      left: 762px;
    }

    .arrowRight {
      top: 399px;
      left: 915px;
    }
    .pageTitle {
      color: var(--clr1);
      top: 387px;
      left: 961px;
    }
  }
  /*  */
}

.noOverflow {
  overflow: hidden;
}
.App {
  max-width: 1905px;
  overflow: hidden;
}
