.contactPage {
  position: relative;
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  height: 3150px;
  /* background-color: red; */

  .contactBlock {
    position: absolute;
    width: 294px;
    height: 158px;
    top: 1000px;
    left: 813px;
  }
  .contactUsImage {
    position: absolute;
    top: 1164px;
    left: 750px;
  }
  .getInTouch {
    position: absolute;
    top: 1330px;
    left: 238px;
    width: 441px;
    height: 547px;
  }

  .AnyQues {
    position: absolute;
    top: 2066px;
    align-self: center;
  }
  .feedback {
    padding-top: 15px;
    position: absolute;
    background: white;
    width: 1440px;
    height: 735px;
    top: 2306px;
    left: 240px;

    .feedbackForm {
      min-width: 100%;
      min-height: 75%;
    }

    .feedbackForm tbody tr th {
      align-items: center;
    }
    .feedbackForm tbody tr th input,
    label {
      display: block;
      margin: auto;
    }
    .feedbackForm tbody tr th label {
      /* background-color: blue; */
      width: 588px;
      text-align: left;
      margin-bottom: 20px;
    }

    .inp {
      border: 0;
      position: relative;
      background: var(--background);
      width: 588px;
      height: 60px;
      margin-top: 55px;
      z-index: 100;
      border-radius: 10px;
      padding: 10px;
    }
    #lbl2 {
      min-width: 1310px;
    }
    .inp2 {
      border: 0;
      background: var(--background);
      width: 1310px;
      height: 180px;
      border-radius: 10px;
      padding: 10px;
    }
    .privacy {
      position: relative;
      left: 65px;
      width: 50%;
      display: flex;
      justify-content: left;
    }
    .privacy label {
      text-align: left;
      width: 100%;
      margin-left: 10px;
    }
    .privacy label a {
      text-decoration: none;
      color: red;
      font-weight: bold;
    }

    .submitBtn {
      position: relative;
      font-weight: bold;
      border: 1px solid var(--clr1);

      height: 50px;
      width: 150px;
      border-radius: 50px / 55px;
      background: var(--clr1);
      color: white;
      left: 65px;
      font-size: 16px;
      margin-top: 25px;
    }
    .submitBtn:hover {
      background: rgb(23, 56, 217);
    }
  }
}
/*  */
