.contactPage * {
  position: absolute;
}
.contactPage {
  position: relative;
  margin-top: 115px;
  height: 2986px;
  width: 100%;

  .section_wallpaper {
    position: relative;
    width: 100;
    height: 837px;
  }
  .section_contact {
    .contactBlock {
      position: absolute;
      width: 294px;
      height: 158px;
      top: 100px;
      left: 813px;
    }
    .contactUsImage {
      position: absolute;
      top: 212px;
      left: 750px;
    }
    .getInTouch {
      position: absolute;
      top: 378px;
      left: 238px;
      width: 441px;
      height: 547px;
    }

    .AnyQues {
      position: absolute;
      top: 1114px;
      left: 731px;
      align-self: center;
    }
    .feedback {
      padding-top: 15px;
      position: absolute;
      background: white;
      width: 1440px;
      height: 735px;
      top: 1354px;
      left: 240px;

      .col1 {
        left: 122px;
      }
      .col2 {
        left: 730px;
      }
      .row1 {
        top: 55px;
      }
      .row2 {
        top: 182px;
      }
      .genInp {
        height: 60px;
        width: 588px;
      }
      .specialInp {
        left: 122px;
        top: 302px;
        width: 1196px;
        height: 248px;
      }
    }
    .feedback label {
      font-size: 18px;
      font-weight: 700;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: left;
      color: #132742;
    }
    .feedback input {
      border-radius: 10px;
      border: none;
      background-color: #edeef3;
    }
    .feedback input::placeholder {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      padding-left: 25px;
    }
    .check {
      top: 569px;
      left: 138px;
    }
    .terms {
      top: 562px;
      left: 162px;
    }
    .terms * {
      position: relative;
      display: inline-block;
      margin: 0 2px;

      font-size: 18px;
      font-weight: 700;
      line-height: 27px;
      letter-spacing: 0em;
      text-align: left;
    }
    .terms p {
      color: #161e49;
    }
    .terms a {
      text-decoration: none;
      color: #ff0000;
    }
    .btnSubmit {
      top: 644px;
      left: 122px;
      cursor: pointer;

      width: 228px;
      height: 50px;
      border-radius: 25px;
    }
  }
}

/*  */
