.coursePage * {
  position: absolute;
}
.coursePage {
  position: relative;
  margin-top: 115px;
  height: 3565px;
  width: 100%;

  .section_wallpaper {
    position: relative;
    width: 1920px;
    height: 837px;
  }

  #ourOnlineCourse {
    position: absolute;
    width: 228px;
    height: 158px;
    top: 100px;
    left: 846px;
  }

  #couseList {
    position: absolute;

    width: 1461px;
    min-height: 3525px;
    top: 308px;
    left: 240px;
    overflow: hidden;
  }
}
