:root {
  --clr1: rgb(99, 120, 255);
}

/* top: 0px; */
/* margin: 25px 15%; */
.NavBar {
  position: absolute;
  top: 0px;
  width: 1905px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
  z-index: 200;
}

/* Logo */

.NavBar img {
  /* background-color: red; */
  object-fit: contain;
  transition: all 0.25s;
}
.NavBar img:hover {
  scale: 1.1;
}

/*  */

/* Links */

.NavBar ul {
  width: 662px;
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.NavBar ul li .active {
  color: #6278ff;
  font-weight: bold;
}

.NavBar ul li:has(.active) a::before {
  content: "___";
  position: absolute;
  color: #6278ff;
  font-weight: bold;
  top: 28px;
}

.NavBar ul li {
  display: flex;
  width: 124px;
}

.NavBar ul li a {
  text-align: center;
  text-decoration: none;
  color: black;
  margin: 0 20px;
  font-size: 24;
  padding: 20px;
  transition: all 0.25s;
}
.NavBar ul li a:hover {
  font-weight: bolder;
  color: var(--clr1);
  scale: 1.2;
}

/* .NavBar ul li a {
  text-decoration: none;
  color: black;
} */

/*  */

/* Login Signup */
.NavBar div {
  /* margin-top: 20px; */
  display: flex;
}
.NavBar div button {
  /* background-color: blue; */
  background: transparent;
  color: var(--clr1);
  font-weight: bold;
  border: 1px solid var(--clr1);

  height: 50px;
  width: 120px;

  border-radius: 50px / 40px;
  margin: 0 12px;
  cursor: pointer;
  transition: all 0.25s;
}

.NavBar div button:hover {
  background: var(--clr1);
  color: var(--background);
  scale: 1.2;
}
/*  */
